parameters:
    phpVersion: 80400
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - docs/*
            - vendor/*
            - runtime/*
    tmpDir: runtime/phpstan
